@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow:400,700&display=swap&subset=latin-ext');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pragati Narrow', sans-serif;
}
img, iframe {
    max-width: 100%;
    height: auto
}
a {
    color: black;
    text-decoration: none  
}
img.logo {
    width: 250px
}
header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    width: 1920px;
}
header a {
    color: white;
}
header a.sviti {
    color: #5f2626
}
.lefthead {
    padding-top: 5px;
}
.righthead {
    margin-top: 15px;
    padding-right: 30px
}
.righthead a {
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold
}
.righthead .fab {
    font-size: 16px;
}
.video {
    height: 960px;
}
.video iframe {
    height: 100%;
}
.videjka {
    height: 400px;
    padding-top: 80px;
    padding-left: 6%;
    
    
}
.videjka iframe {
    height: 100%;
    padding: 10px
}

.aboutme {
    background-color: #230808;
}
.aboutme h1 {
    border-bottom: 5px solid white;
    font-size: 50px;
    padding-top: 50px
}
.aboutme p {
    font-size: 30px;
    width: 800px;
    padding-top: 50px
}
.aboutme .nadpis {
    width: 250px;
    margin-left: 300px;
}
.aboutme p, .aboutme h1 {
    color: white;
}
.abouther {
    display: flex;
    justify-content: center;
    padding-top: 25px
}
.abouther a {
    display: flex;
    padding-top: 20px;
    transition: linear .1s;
    width: 220px;
}
.abouther a:hover {
    color: #5f2626
}
.abouther a i.fa-arrow-right {
    padding-top: 11px;
    padding-left: 20px
}
.abouther img {
    padding-left: 100px;
    padding-bottom: 60px
}
.abouther a {
    color: white;
}
.righthead a {
    transition: linear .1s;
}
.righthead a:hover {
    color: #5f2626
}
.video-nadpis  {
    border-bottom: 5px solid black;
    width: 180px;
    padding-top: 50px;
    margin-left: 300px
}
.video-nadpis h1 {
    font-size: 50px;
}
.more-videos {
    margin-top: 400px;
    width: 200px;
    display: flex;
    justify-content: center;
    border: solid 1px #5f2626;
    border-radius: 18px;
    transition: linear .1s;
    margin-left: 45%;
}
.more-videos:hover {
    background-color: #5f2626
}
.albums {
    background-color: #230808;
    margin-top: 50px;
    padding-bottom: 40px
}
.nadnadpisem {
    height: 125px;
    background-color: #230808;
}
.nadpis-albums {
    background-color: #fff;
    padding-left: 300px;
}
.nadpis-albums h1 {
    font-size: 70px;
    color: #230808;
}
.lol {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.lul {
    width: 600px;
    margin-right: 20px
}
.lel {
    width: 600px;
    margin-left: 20px
}
.lol p, .lol h2 {
    color: white;
}
.lol p {
    font-size: 25px;
    padding-top: 20px
}
.lol h2 {
    font-size: 40px;
    padding-top: 40px;
}
.lol img{
    transition: linear .3s;
}
.lol img:hover {
    filter: brightness(50%);
    transform: scale(.99);
}
.fa-itunes-note {
    padding-left: 12px;
    padding-right: 25px;
}
.hm {
    transform: rotate(22deg)
}
.mh {
    transform: rotate(-15deg)
}
footer {
    background-color: #000000;
}
.formular {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.for-line input, .for-line button {
    width: 300px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: solid white 1px;
    background-color: #000000;
    color: white;
    margin-top: 20px
}
.for-line button {
    background: rgb(50,9,9);
    background: linear-gradient(180deg, rgba(50,9,9,1) 0%, rgba(255,255,255,1) 70%);
    border: none;
    color: black;
    margin-top: 10px;
    transition: linear .8s;
}
.for-line button:hover {
    background: #fff;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 70%);
}
.kformulari p {
    color: white;
    width: 400px;
    text-align: center;
    font-size: 19px
}
.kformulari {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.mujcopyright p {
    color: white;
}
.mujcopyright {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    font-weight: 100;
    padding-bottom: 10px
}
.odkazy a {
    color: white;
    padding: 5px;
    font-size: 19px
}
.odkazy {
    padding-top: 10px
}
/*SHOP*/
/*SHOP*/
/*SHOP*/
/*SHOP*/
/*SHOP*/

.zbytekshopu {
    background-color: #230808;
}
.banner-shop {
    display: flex;
    padding-top: 70px;
    padding-left: 11%
}
.banner-shop img {
    border: 4px solid #5f2626;
    margin-top: 20px;
    width: 1460px
}
.shopiik {
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
    margin-left: 10%
}
.pro {
    width: 500px;
    padding: 20px
}
.pro h3 {
    text-align: center;
    color: white
}
h3.cena {
    font-size: 25px
}
.pro img {
    border: 4px solid #5f2626;
}
.pro a {
    transition: linear .2s;
}
.pro a:hover {
    filter: brightness(50%);
}
/*VIDEOS*/
/*VIDEOS*/
/*VIDEOS*/
/*VIDEOS*/
/*VIDEOS*/
.podtotal, .nadtotal {
    background-color: #230808;
    height: 130px
}
.totalnadpis-videa {
    padding-top: 10px;
    background-color: #230808;
    height: 130px;
}
.totalnadpis-videa h1 {
    font-size: 80px;
    text-align: center;
    color: white
}
.zbytekvidei {
    padding-top: 50px;
}
.loveandfear-videa {
    padding-bottom: 20px
}
.nadpisloveandfear-videa {
    padding: 20px 50px 0 300px;
    margin-left: 120px;
    border-bottom: 5px solid black;
    width: 1700px;
}
.nadpisloveandfear-videa h1 {
    font-size: 55px;
}
.loveandfearvidea {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    padding-left: 7%
}
.loveandfearvidea iframe {
    height: 100%;
    padding: 20px
}
.froot-videa {
    background-color: #230808;
   
}
.nadpisfroot-videa, .nadpisfamilyjewels-videa {
    border-bottom: 5px solid white;
    color: white;
    padding-top: 40px;
}
.familyjewels-videa {
    padding-bottom: 10px
}
/*MUSIC*/
/*MUSIC*/
/*MUSIC*/
/*MUSIC*/
/*MUSIC*/
.totalnadpis-muzika {
    padding-top: 10px;
    background-color: #230808;
    height: 130px;
}
.totalnadpis-muzika h1 {
    font-size: 80px;
    text-align: center;
    color: white
}
.zbytekmuziky {
    padding-top: 50px;
}
.celamuzika {
    display: flex;
    justify-content: space-around;
}
.nadpisloveandfear-muzika  {
    border-bottom: 3px solid black;
    width: 200px;
    padding-top: 20px
}
.seznamloveandfear {
    padding-top: 10px
}
.froot {
    width: 125px;
}
.ele {
    width: 260px;
}
.jew {
    width: 290px
}
.celamuzika ul {
    font-size: 20px
}

.spotifyloveandfear, .appleloveandfear {
    background-color: #5f2626;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin: 10px;
    margin-left: 0;
    margin-right: 10px
}
.spotifyloveandfear {
    margin-top: 10px
}
.appleloveandfear {
    margin-bottom: 15px
}
.spotifyloveandfear a, .appleloveandfear a {
    font-size: 22px;
    transition: linear .2s
}
.spotifyloveandfear a:hover, .appleloveandfear a:hover {
    color: white;
} 
/*TOUR 2019*/
/*TOUR 2019*/
/*TOUR 2019*/
/*TOUR 2019*/
/*TOUR 2019*/
.zbytektour {
    background-color: #230808;
    border-top: 5px solid white;
}
table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}
th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 15px;
    font-size: 20px;
    background: rgb(0, 0, 0);
    color: white;
    height: 60px
}
td a {
    color: white;   
    transition: linear .1s 
}
td a:hover {
    color: #5f2626
}
